/* TEXT TYPES */
@font-face {
  font-family: "Osiris";
  src: url("../css/osiris.woff2") format("woff2");
}

.title {
  font-family: "Osiris";
  color: white;
  font-size: 95px;
  text-align: center;
  margin-top: 150px;
}

.home_title {
  font-size: 60px;
  margin-top: 94px;
  margin-bottom: 91px;
  text-align: center;
  font-family: "Futura PT", sans-serif; /* Use Futura PT font */
  font-weight: bold;
  color: white;
}
.paragraph {
  font-family: "Arial";
  color: white;
  font-size: 25px;
  text-align: center;
  width: 972px;
  margin: 0 auto;
  padding: 10px;
  line-height: 51px;
  margin-bottom: 180px;
  margin-top: 102px;
}
.AU_MainText {
  font-family: "Arial";
  color: white;
  font-size: 30px;
  text-align: center;
  margin: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 51px;
  border: 5px solid #707070;
  width: 895px;
  margin-top: 833px;
}
.hor_line_1 {
  width: 100%; /* Adjust this value as needed */
  height: 3px; /* Adjust this value as needed */
  margin: 0px;
  background-color: white; /* Change the color as needed */
}

/* HOME */
.homeBanner {
  width: 100%;
  top: 0;
}
.homeFrame1Container {
  width: 85%;
  margin-left: 10%;
  position: relative;
  border: 6px solid white;
  box-shadow: inset 0 10px 99px rgba(255, 255, 255, 0.16);
  margin-bottom: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.homeFrame1Text {
  top: 7.5%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  text-align: center;
  color: white; /* Text color */
  font-size: 33.3333px;
  font-family: "Arial";
}
.homeFrame2Container {
  width: 950%;
  padding-top: 10px;
  margin-left: 12.5%;
  margin-top: 149px;
  position: relative;
  display: inline-block;
}

.homeFrame2Icon {
  height: 40%;
  position: absolute;
}
.homeFrame2Text {
  font-weight: "700";

  /* text-align: left; */
  color: #ffffff;
  font-size: 40px;
  font-family: "Arial";
}

/* ABOUT US PROFILES */
.AU_Banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  width: 1041px;
}
.AUMainSection {
  width: 67.8vw;
  height: 2500px;
  position: absolute; /* This is required for top and left to work */
  top: 0;
  left: 16.1vw;
  background-image: radial-gradient(circle, #2e343e, #171717);
  background-position: center;
  display: block;
  margin: auto;
  /* overflow-x: hidden; Stops horizontal scrolling */
  overflow-y: hidden;
}
.profileContainer {
  /* Since containers take up (horizontal) blocks by default, the display layout must be manually set */
  /* display: inline-block; */
  position: absolute;
  width: 325px;
  justify-content: center;
}
.profileText {
  font-family: "Arial";
  color: white;
  font-size: 35px;
  text-align: center;
  width: 100%;
}

/* BENEFITS */
.benefitsContainer {
  /* Is the container that makes up "3 columns" that are the benefits */
  /* Since containers take up (horizontal) blocks by default, the display layout must be manually set */
  display: inline-block;
  vertical-align: top;
  width: 25%;
  /* left margin must be manually set */
}
.centeringWrapper {
  /* Used for centering elements */
  display: flex;
  justify-content: center; /* Center horizontally inside the container */
  height: 100%; /* Take the full height of the container */
}
.benefitsIcon {
  /* AI Generated Icons */
  width: 80%;
}
.benefitsVerticalLine {
  /* Thin, gray, vertical lines used for styling */
  width: 2px;
  height: 120px;
  margin-top: 28px;
  margin-bottom: 28px;
  background-color: #707070;
  /* chagne color to 707070 */
}
.benefitsBannerContainer {
  /* Used to hold the banner image and text inside the image */
  width: 100%;
  position: relative;
}
.benefitsBanner {
  /* Banner image */
  width: 100%;
}
.bannerText {
  position: absolute; /* allows for position relative to nearest ancestor */
  top: 7.5%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  text-align: center;
  color: white; /* Text color */
  font-size: 20px; /* Text size */
  font-family: Arial, sans-serif; /* Typography */
}
.benefitsHorizontalLine {
  height: 6px;
  width: 50%;
  margin-left: 25%;
  background-color: #ff0000;
}

/* SIDEBAR CLASSES */
.sidebar {
  width: 16vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #121212;
  overflow: hidden;
}
.sidebar2 {
  width: 16vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 84vw;
  background: #121212;
  overflow: hidden;
}
.sidebar-link {
  display: block;
  padding: 1vw;
  transform: translateY(30vh);
  color: white;
  font-size: 2.8125vw;
  font-family: Arial;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-left: 0;
}
.sidebar-link:hover {
  background-color: #333; /* Lighten background on hover */
}
.sidebarLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 39px;
  width: 75%;
}

.mainsection {
  width: 67.8vw;
  height: 2000vh;
  position: absolute; /* This is required for top and left to work */
  top: 0;
  left: 16.1vw;
  background-image: radial-gradient(circle, #2e343e, #171717);
  background-position: center;
  display: block;
  margin: auto;
  overflow-x: hidden; /* Stops horizontal scrolling */
  overflow-y: hidden;
}

.centerImage {
  justify-content: center;
}

.ContactBanner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 849px;
}
.email-box {
  margin-top: 40px;
  width: 459px;
  height: 94px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2.5%;
  background-color: #121212;
  border: 8px solid white;
}
.email-title {
  text-align: center;
  color: white;
  font-family: Arial;
  font-size: 39px;
  margin-top: 100px;
}

.email-text {
  text-align: center;
  margin-top: 7%;
  font-size: 25px;
  color: white;
  font-family: Arial;
}
body,
html {
  /* background-image: url("../images/Background.png"); */
  background-size: cover; /* This makes sure the image covers the entire background */
  background-position: center top 0; /* Corrected background position */
  background: #ffffff;
}
@media (min-width: 1200px) {
  .title {
    display: hidden;
  }
}
@media only screen and (max-device-width: 767px) {
  .title {
    font-size: 5vw;
  }
  .email-box {
  }

  .AU_MainText {
    font-size: 30px; /* Adjust font size relative to viewport width */
    line-height: 6vw; /* Adjust line height relative to viewport width */
    width: fit-;
  }

  .home_title {
    font-size: 4vw; /* Adjust font size relative to viewport width */
  }

  .mainsection {
    width: 67.8vw; /* Adjust width to fill the viewport */
    left: 16.1vw;
    right: auto;
    display: block;
    margin: auto;
    position: absolute; /* This is required for top and left to work */
  }
  .ContactBanner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 174.609375px;
  }

  .homebanner {
    width: 100%; /* Adjust width to fill the viewport */
    padding: 5vw; /* Adjust padding relative to viewport width */
  }

  .bannerimage {
    width: 100%; /* Adjust width to fill the viewport */
  }
}
@media (max-width: 1000px) {
  .title {
    font-size: 8.847791378392762vw;
  }
}
@media (max-width: 1200px) {
  .ContactBanner {
    width: 67.77541245343268vw;
  }
}
