.title {
  font-family: "Osiris";
  color: white;
  font-size: 45px;
  transform: translateY(vh);
  text-align: center;
}

.AU_MainText {
  font-family: "Arial";
  color: white;
  font-size: 33.3333px;
  text-align: center;
  max-width: 1450px;
  margin: 0 auto;
  padding: 10px;
  line-height: 51px;
}

/* SIDEBAR CLASSES */
.sidebar {
  width: 16vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #121212;
  overflow: hidden;
}
.sidebar2 {
  width: 16vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 84vw;
  background: #121212;
  overflow: hidden;
}
.sidebar-link {
  display: block;
  padding: 1vw;
  transform: translateY(25vh);
  color: white;
  font-size: 2.8125vw;
  font-family: Arial;
  text-decoration: none;
  transition: background-color 0.3s;
}
.sidebar-link:hover {
  background-color: #333; /* Lighten background on hover */
}

.home_title {
  font-size: 30px;
  text-align: center;
  font-family: "Futura PT", sans-serif; /* Use Futura PT font */
  font-weight: bold;
  color: white;
}
.mainsection {
  width: calc(100vw - 32vw - 0.2vw);
  height: 200vh;
  position: absolute; /* This is required for top and left to work */
  top: 0;
  left: calc(16vw + 0.1vw);
  background-image: radial-gradient(circle, #2e343e, #171717);
  background-position: center;
  display: block;
  margin: auto;
  overflow-x: hidden; /* Stops horizontal scrolling */
  overflow-y: hidden;
}

.homebanner {
  width: calc(100vw - 32vw - 0.3vw);
  top: 0;
  margin: auto;
}
.bannerimage {
  width: 100%;
  top: 0px;
  z-index: 1;
}
.banner_container {
  position: relative;
}

body,
html {
  /* background-image: url("../images/Background.png"); */
  background-size: cover; /* This makes sure the image covers the entire background */
  background-position: center top 0; /* Corrected background position */
  background: #ffffff;
}
svg {
  display: block; /* Removes extra space around inline elements */
  background: #0000ff; /* Optional: Set a background color if needed */
}
