/* TEXT TYPES */
@font-face {
  font-family: "Osiris";
  src: url("../css/osiris.woff2") format("woff2");
}

.title {
  font-family: "Osiris";
  color: white;
  font-size: 95px;
  text-align: center;
  margin-top: 100px;
}

.paragraph {
  font-family: "Arial";
  color: white;
  font-size: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 97px;
  line-height: 51px;
  /* margin-bottom: 180px;
  margin-top: 102px; */
}

.hor_line_1 {
  width: 100%; /* Adjust this value as needed */
  height: 3px; /* Adjust this value as needed */
  margin: 0px;
  background-color: white; /* Change the color as needed */
}

.centeringWrapper {
  /* Used for centering elements */
  display: flex;
  justify-content: center; /* Center horizontally inside the container */
  /* height: 100%; Take the full height of the container */
}

/* SIDEBAR CLASSES */
.sidebar {
  width: 16vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #121212;
  overflow: hidden;
}
.sidebar2 {
  width: 16vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 84vw;
  background: #121212;
  overflow: hidden;
}
.sidebar-link {
  display: block;
  padding: 1vw;
  transform: translateY(26.1875vh);
  color: white;
  font-size: 2.8125vw;
  font-family: Arial;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-left: 0;
}
.sidebar-link:hover {
  background-color: #333; /* Lighten background on hover */
}
.sidebarLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 39px;
  width: 75%;
}

.mainsection {
  width: 67.8vw;
  height: 2000vh;
  position: absolute; /* This is required for top and left to work */
  top: 0;
  left: 16.1vw;
  background-image: radial-gradient(circle, #2e343e, #171717);
  background-position: center;
  display: block;
  margin: auto;
  overflow-y: hidden;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent icons from wrapping to the next line */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.centerImage {
  justify-content: center;
}

.navbar-button {
  background-color: #272b31;
  border-radius: 32px;
  border: 1px solid #262a30;
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 100px);
  box-shadow: 0 1px 9px rgba(0, 0, 0, 100px);
  width: 343px;
  height: 92px;
}

.navbar-button-text {
  color: white;
  font-family: Arial;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

body,
html {
  /* background-image: url("../images/Background.png"); */
  background-size: cover; /* This makes sure the image covers the entire background */
  background-position: center top 0; /* Corrected background position */
  background: #ffffff;
}
@media (min-width: 1200px) {
  .title {
    display: hidden;
  }
}
@media only screen and (max-device-width: 767px) {
  .title {
    font-size: 5vw;
  }

  .AU_MainText {
    font-size: 30px; /* Adjust font size relative to viewport width */
    line-height: 6vw; /* Adjust line height relative to viewport width */
    width: fit-;
  }

  .home_title {
    font-size: 4vw; /* Adjust font size relative to viewport width */
  }

  .mainsection {
    width: 67.8vw; /* Adjust width to fill the viewport */
    left: 16.1vw;
    right: auto;
    display: block;
    margin: auto;
    position: absolute; /* This is required for top and left to work */
  }
  .ContactBanner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 174.609375px;
  }

  .homebanner {
    width: 100%; /* Adjust width to fill the viewport */
    padding: 5vw; /* Adjust padding relative to viewport width */
  }

  .bannerimage {
    width: 100%; /* Adjust width to fill the viewport */
  }
}
@media (max-width: 1000px) {
  .title {
    font-size: 8.847791378392762vw;
  }
}
@media (max-width: 1200px) {
  .ContactBanner {
    width: 67.77541245343268vw;
  }
}
